*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: url(../images/cursor.png),auto;
    transition: all 1.5s;
}
body{
    padding: 20px;
    background-color: #222;
}
.contrast{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}
.contrast::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
    border-radius: 50%;
    opacity: 0;
}
.contrast::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    opacity: 1;
    background-color: yellow;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, .5),
    0 0 0 40px rgba(255, 255, 255, .5),
    0 0 0 80px rgba(255, 255, 255, .4),
    0 0 0 120px rgba(255, 255, 255, .3),
    0 0 0 200px rgba(255, 255, 255, .2);
    transition: all 2s;
}